@using System
@using System.Threading.Tasks
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Network;
@inherits Panel

<root>
	<div class="quit" @onclick=@( () => Menu.menuState = Menu.State.None )>Back</div>
	<div class="panel-header">
		<h2>SERVER LIST</h2>
	</div>

	<div class="lobby-filters">
		<div class="refresh-button @(CanRefresh() ? "" : "disabled")"
			onclick="@( () => { if (CanRefresh()) _ = FetchLobbies(); } )"><i>refresh</i></div>
		@if (!CanRefresh())
		{
			<div class="refresh-countdown">Can refresh in @(GetRemainingSeconds())s...</div>
		}

		<div class="create-button" onclick=@( () => Menu.menuState = Menu.State.Create )>Create+</div>
	</div>

	<div class="server-list">

		@foreach (var i in Lobbies)
		{
			<div class="server-entry">
				<div class="info-wrapper">
					<div>
						<div class="title">@i.Name</div>
					</div>

					<div>
						<div class="player-count"><i>person</i>@(i.Members) / @(i.MaxMembers)</div>
						<div class="map-name"> <i>map</i>
							<div style="padding-right: 3px"></div>@i.Map
						</div>
					</div>
				</div>
				<div class="join-button-wrapper">
					<div class="join-button" onclick="@( () => Networking.Connect( i.LobbyId ) )">Join</div>
				</div>
			</div>
		}

		@if (!Lobbies.Any() && !Refreshing)
		{
			<div class="no-lobbies">No Lobbies Found :(</div>
		}
	</div>
</root>